*{
    background-color:rgb(145, 140, 140);
    color:white;
}

.player-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap:6px;
}

.player-container button{
    border-radius: 12px;
    margin:0 16px;
}
button:hover{
    transform: scale(1.1);
}
#result{
    text-align: center;
    line-height: 1.5em;
    font-size: x-large;
}
